<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Campaigns List</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.campaigns_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
